// Gallery
// Default photo gallery styling
// -----------------------------

#galleryapp {

	#add-photo-btn {
		font-size:10px;
		padding:3px 8px;
		@include border-radius(6px);
		background:$darkGray;
		color:white;
	}

	.entry-form {
		// Display & Box Model
		display:none;
		box-sizing: border-box;
		padding: 10px 10px 25px 10px;
		margin: 0 10px 10px 0;
		@include border-radius(6px);
		@include box-shadow(0 0 10px rgba(0,0,0,0.3));

		// Color
		background: white;

		// Children
		table th, table td {
			padding: {
				right: 10px;
			}
		}
		textarea {
			width: 896px;
			min-height:100px;
		}
	}

	ul {
		// Disply & Box Model
		padding:0;
		margin:0;

		li {
			// Positioning
			float: left;
			position: relative;

			// Display & Box Model
			list-style: none;
			box-sizing: border-box;
			width: 460px;
			padding: 10px;
			margin: 0 10px 10px 0;
			@include border-radius(6px);
			@include box-shadow(0 0 10px rgba(0,0,0,0.3));

			// Color
			background: white;

			.image-wrapper {
				// Display & Box Model
				overflow: hidden;
				width: 100%;
				height: 200px;

				img {
					// Positioning
					position:relative;
					// Display & Box Model
					width: 100%;
				}
			}

			p {
				margin: 10px 0;
			}

			.action-section {
				display: none;

				position: absolute;
				top: 80px;
				right: 18px;
			}

			&:hover .action-section, &.editing .action-section {
				display: block;
			}

			.edit-attributes-section {
				display: none;

				// Display & Box Model
				padding: {
					top: 10px;
				}
				margin: {
					top: 10px;
				}

				border: {
					top: 1px dotted #ccc;
				}

				// Children
				textarea {
					width: 426px;
				}
				hr {
					border-top:1px dotted #ccc;
				}
			}

			&.editing .edit-attributes-section {
				display: block;
			}
		}
	}
}