

// Global Colors
// -------------------------
$lightGray:  #eaeaea;
$darkGray:   #4d4d4d;

// Scaffolding
// -------------------------
$bodyBackgroundColor: $lightGray;
$bodyBackgroundImage: url('bg.png');
$textColor: $darkGray;

// Typography
// -------------------------
$baseFontSize: 14px;
$baseFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$baseLineHeight: 1.4em;