// Scaffolding
// -------------------------
$bodyBackground:        #08c !default;

// Links
// -------------------------
$linkColor:             #f89406 !default;
$linkColorHover:        darken($linkColor, 15%) !default;